<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Author</title>
    <link rel="stylesheet" href="/marketplace_builder/assets/css/main-2022.min.css">
    <link rel="stylesheet" media="print" href="https://uploads.prod01.london.platform-os.com/instances/190/assets/fonts/fonts.css" onload="this.media='all'">
    <script src="https://uploads.prod01.london.platform-os.com/instances/190/assets/js/vendor/iconify.min.js?updated=1662609857000"></script>
</head>
<body style="display: grid; place-items: center">

   <!-- Component Starts Here-->
   <div class="media author mb-6" style="">
    <div class="media-left is-large">
    <figure class="image">
        <img src="https://websitesuccess.mo.cloudinary.net/ws/images/team-pictures/louise-hopkins.png?tx=c_scale,w_400" alt="Louise Hopkins">
    </figure>
    </div>
    <div class="media-content">
      <p class="title is-5">By Louise Hopkins</p>
      <p class="subtitle is-6"><time datetime="2020-03-30">Mar 30, 2020</time><br>2 min read</p>
    </div>
   </div>
   <!-- Component Ends Here-->
    
</body>
</html>