<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagination</title>
    <link rel="stylesheet" href="/marketplace_builder/assets/css/main-2022.min.css">
    <link rel="stylesheet" media="print" href="https://uploads.prod01.london.platform-os.com/instances/190/assets/fonts/fonts.css" onload="this.media='all'">
    <script src="https://uploads.prod01.london.platform-os.com/instances/190/assets/js/vendor/iconify.min.js?updated=1662609857000"></script>
</head>
<body>

   <!-- Component Starts Here-->
    <section class="container">
        <nav class="pagination is-rounded is-centered py-6 px-4" role="navigation" aria-label="pagination">
            <a class="pagination-previous is-hidden" title="This is the first page" disabled>Prev</a>
            <a class="pagination-previous" href="/">Prev</a>
            <a class="pagination-next is-hidden" title="This is the last page" disabled>Next</a>
            <a class="pagination-next" href="/">Next</a>
            <ul class="pagination-list">
                <li>
                    <a class="pagination-link" aria-label="Goto page 1" href="/">1</a>
                </li>
                <li><span class="pagination-ellipsis">…</span></li>
                <li>
                    <a class="pagination-link" aria-label="Goto page 2" href="/">2</a>
                </li>
                <li>
                    <a class="pagination-link is-current" aria-label="Page 3" aria-current="page">3</a>
                </li>
                <li>
                    <a class="pagination-link" aria-label="Goto page 4" href="/">4</a>
                </li>
                <li><span class="pagination-ellipsis">…</span></li>
                <li>
                    <a class="pagination-link" aria-label="Goto page 30" href="/">30</a>
                </li>
            </ul>
        </nav>
    </section>
   <!-- Component Ends Here-->
    
</body>
</html>