<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prev and Next</title>
    <link rel="stylesheet" href="/marketplace_builder/assets/css/main-2022.min.css">
    <link rel="stylesheet" media="print" href="https://uploads.prod01.london.platform-os.com/instances/190/assets/fonts/fonts.css" onload="this.media='all'">
    <script src="https://uploads.prod01.london.platform-os.com/instances/190/assets/js/vendor/iconify.min.js?updated=1662609857000"></script>
</head>
<body>

   <!-- Component Starts Here-->
   <section class="prev-next-section">
        <div class="container">
            <div class="prev-next">
                <a class="prev" href="/" title="prev">
                    <span>
                        <span class="iconify" data-icon="fa-solid:chevron-circle-left"></span>
                    </span>
                    <div>
                        <span class="control">Prev</span>
                        <p class="date">
                            Sep 11, 2020
                        </p>
                        <h5 class="title">
                            DID YOU KNOW?… WE ARE A GOOGLE PARTNER AND CERTIFIED IN ANALYTICS
                        </h5>
                    </div>
                </a>
                <a class="next" href="/" title="next">
                    <div>
                        <span class="control">Next</span>
                        <p class="date">
                            Sep 11, 2020
                        </p>
                        <h5 class="title">
                            DID YOU KNOW?… WE ARE A GOOGLE PARTNER AND CERTIFIED IN ANALYTICS
                        </h5>
                    </div>
                    <span>
                        <span class="iconify" data-icon="fa-solid:chevron-circle-right"></span>
                    </span>
                </a>
            </div>
        </div>
   </section>
   <!-- Component Ends Here-->
    
</body>
</html>