.blog{

    .blog-list-02{
        margin-top: -79px;
        padding-bottom: 2rem;
        @include mobile {
            padding-top: 5rem;
        }
    }

    .faqs{
        margin-top: -1rem;
        @include mobile {
            padding-top: 3.5rem;
        }
    }

    .get-started{
        margin-top: -59px;
        position: relative;
        z-index: 5;

        padding-bottom: 0;
    }

}