.home{

    .hero-main{
        .hero-body{
            @include until-fullhd {
                padding-bottom: 120px;
            }
            @include touch {
                padding-top: 113px;
            }
        }
    }

    .marketing-text{
        margin-top: -69px;
        @include until-fullhd {
            padding: 100px 1rem;
        }
        @include mobile {
            padding: 80px 1rem;
        }
    }

    .we-know-our-stuff{
        margin-top: -37px;
        @include mobile {
            margin-top: -20px;
        }
    }

    .our-latest-creation{
        .columns{
            @include mobile {
                margin-bottom: 33px;
            }
        }
    }

    .businesses-who-trust-us{
        margin-top: -5rem;
    }

    .the-website-success-way{
        .container{
            .heading{
                @include until(535px) {
                    max-width: 200px;
                    margin-inline: auto;
                }
            }
        }
    }

    .blog-list{
        margin-top: -4rem;
        .columns{
            @include mobile {
                margin-bottom: 33px;
            }
        }
    }
    

}