.portfolio-detail-page{

   .what-was-required{
        margin-top: -79px;
        padding-bottom: 3rem;
        @include touch {
            padding-top: 7rem;
        }
        @include mobile {
            padding-top: 5rem;
        }
        .container{
            z-index: 15;
            position: relative;
        }
   }

   .what-we-did{
        position: relative;
        z-index: 15;
   }

    .get-started{
        margin-top: -59px;
        position: relative;
        z-index: 20;
        padding-bottom: 1rem;
    }

}