div.portfolio{

    .our-latest-creation-02{
        margin-top: -79px;
        padding-bottom: 2rem;
        @include touch {
            padding-top: 7rem;
        }
        @include mobile {
            padding-top: 5rem;
        }
        .container{
            z-index: 15;
            position: relative;
        }
    }

    .faqs{
        margin-top: -1rem;
        @include mobile {
            padding-top: 3.5rem;
        }
    }

    .get-started{
        position: relative;
        z-index: 5;
        padding-bottom: 1rem;
        padding-top: 5rem;
    }


}