.media.author {
  align-items: center;
  .media-left {
    flex: 1;
    @include mobile {
      width: 140px;
      flex: none;
    }
  }
  .media-content{
    flex: 1;
    transform: translateY(30%);
    .name{
      font-weight: 800;
      line-height: 1.2;
    }
  }
}
