.blog-list-02{
    background: url(https://websitesuccess.mo.cloudinary.net/ws/images/build/2022/curve.png) no-repeat top/101%;
    background-color: rgba(0, 0, 0, 0);
    position: relative;
    padding: 135px 1.5rem;

    .columns.blog{
        z-index: 15;
        position: relative;
    }
}