.businesses-who-trust-us{
    background: url(https://websitesuccess.mo.cloudinary.net/ws/images/build/2022/curve-dark-02.png) no-repeat top/101%;
    padding-top: 122px;
    padding-bottom: 82px;
}