.our-latest-creation{
    background-color: $light;
    border-top: 22.5px solid #fff;
    padding-top: 167.25px;
    padding-bottom: 140px;
    padding-inline: 1.5rem;
    .columns.portfolio{
        margin-bottom: 63px;
    }
}