<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Detail</title>
    <link rel="stylesheet" href="/marketplace_builder/assets/css/main-2022.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600;700;800;900&display=swap" rel="stylesheet"> 
    <script src="https://uploads.prod01.london.platform-os.com/instances/190/assets/js/vendor/iconify.min.js?updated=1662609857000"></script>
</head>
<body>

   <!-- Component Starts Here-->
    <section class="blog-detail">
        <div class="container">

            <div class="columns">
                <div class="column is-4 left">

                  <!-- Author -->
                  <div class="media author">
                      <div class="media-left is-large">
                        <figure class="image">
                            <img src="https://websitesuccess.mo.cloudinary.net/ws/images/team-pictures/louise-hopkins.png?tx=c_scale,w_400" alt="Louise Hopkins">
                        </figure>
                      </div>
                      <div class="media-content">
                        <p class="name">By Louise Hopkins</p>
                        <p class="date"><time datetime="2020-03-30">Mar 30, 2020</time><br>2 min read</p>
                      </div>
                  </div>

                  <!-- Main Image -->
                  <figure class="image is-4by3">
                      <img 
                        src="https://websitesuccess.mo.cloudinary.net/ws/images/blog/Is-email-marketing-effective.jpeg?tx=w_800,h_600,c_fill,g_auto" 
                        srcset="https://websitesuccess.mo.cloudinary.net/ws/images/blog/Is-email-marketing-effective.jpeg?tx=w_400,h_300,c_fill,g_auto 400w,
                                https://websitesuccess.mo.cloudinary.net/ws/images/blog/Is-email-marketing-effective.jpeg?tx=w_800,h_600,c_fill,g_auto 800w"
                        sizes="(max-width: 600px) 400px,
                               800px"
                      >
                  </figure>

                  <!-- Button -->
                  <a href="/" class="button -- is-blue-white -- is-medium -- is-hidden-mobile">
                    <div class="icon-text">
                      <span>Back</span>
                    </div>
                  </a>

                </div>
                <div class="column is-7 is-8">

                    <div class="tags">
                        <div class="tag -- is-dark">SOCIAL MEDIA</div>
                        <div class="tag -- is-dark">Development</div>
                        <div class="tag -- is-dark">Marketing</div>
                    </div>

                    <div class="content">
                        <h1>Lorem ipsum dolor sit.</h1>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quam pariatur, numquam dolorum laudantium aspernatur dicta, accusantium consectetur minima voluptatum odio ratione? Ducimus iste et dolores adipisci reiciendis consequuntur nisi velit.</p>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quam pariatur, numquam dolorum laudantium aspernatur dicta, accusantium consectetur minima voluptatum odio ratione? Ducimus iste et dolores adipisci reiciendis consequuntur nisi velit.</p>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quam pariatur, numquam dolorum laudantium aspernatur dicta, accusantium consectetur minima voluptatum odio ratione? Ducimus iste et dolores adipisci reiciendis consequuntur nisi velit.</p>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quam pariatur, numquam dolorum laudantium aspernatur dicta, accusantium consectetur minima voluptatum odio ratione? Ducimus iste et dolores adipisci reiciendis consequuntur nisi velit.</p>
                    </div>

                    <!-- Button -->
                    <a href="/" class="button -- is-blue-white -- is-medium -- is-hidden-tablet">
                        <div class="icon-text">
                            <span>Back</span>
                        </div>
                    </a>

                </div>
            </div>

        </div>
    </section>
   <!-- Component Ends Here-->
    
</body>
</html>