<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog list 02</title>
    <link rel="stylesheet" href="../../assets/css/main-2022.min.css">
    <link rel="stylesheet" media="print" href="https://uploads.prod01.london.platform-os.com/instances/190/assets/fonts/fonts.css" onload="this.media='all'">
    <script src="https://uploads.prod01.london.platform-os.com/instances/190/assets/js/vendor/iconify.min.js?updated=1662609857000"></script>
</head>
<body>

   <!-- Component Starts Here-->
   <section class="blog-list-02">
    <div class="container">
        <div class="columns blog is-mobile is-multiline">
            <div class="column is-4-desktop is-6-tablet is-12-mobile">
                <div class="card blog">
                    <a href="/" class="card-image">
                      <figure class="image is-4by3">
                        <img 
                          src="https://websitesuccess.mo.cloudinary.net/ws/images/blog/Is-email-marketing-effective.jpeg?tx=w_800,h_600,c_fill,g_auto" 
                          srcset="https://websitesuccess.mo.cloudinary.net/ws/images/blog/Is-email-marketing-effective.jpeg?tx=w_400,h_300,c_fill,g_auto 400w,
                                  https://websitesuccess.mo.cloudinary.net/ws/images/blog/Is-email-marketing-effective.jpeg?tx=w_800,h_600,c_fill,g_auto 800w"
                          sizes="(max-width: 600px) 400px,
                                 800px"
                        >
                      </figure>
                    </a> 
                    <div class="card-content">
                        <img class="card-divider" src="https://uploads.prod01.london.platform-os.com/instances/190/assets/images/build/2022/card-curve--yellow-02.png"> 
                       <div class="card-content-inner">
                            <div class="author">
                                <span>Nov 02, 2020</span>
                                <span class="seperator">/</span>
                                <span>Jacob Turrell</span>
                            </div>
                            <h4>HOW CAN I GENERATE MORE LEADS THROUGH EMAIL MARKETING?</h4>
                            
                            <a href="/" class="button is-dark-blue">
                                <div class="icon-text">
                                    <span>Read blog</span>
                                    <span class="icon">
                                    <span class="iconify" data-icon="fa-solid:chevron-circle-right"></span>
                                    </span>
                                </div>
                            </a>
                       </div>
                    </div>
                  </div>
            </div>
            <div class="column is-4-desktop is-6-tablet is-12-mobile">
                <div class="card blog">
                    <a href="/" class="card-image">
                      <figure class="image is-4by3">
                        <img 
                          src="https://websitesuccess.mo.cloudinary.net/ws/images/blog/Is-email-marketing-effective.jpeg?tx=w_800,h_600,c_fill,g_auto" 
                          srcset="https://websitesuccess.mo.cloudinary.net/ws/images/blog/Is-email-marketing-effective.jpeg?tx=w_400,h_300,c_fill,g_auto 400w,
                                  https://websitesuccess.mo.cloudinary.net/ws/images/blog/Is-email-marketing-effective.jpeg?tx=w_800,h_600,c_fill,g_auto 800w"
                          sizes="(max-width: 600px) 400px,
                                 800px"
                        >
                      </figure>
                    </a> 
                    <div class="card-content">
                        <img class="card-divider" src="https://uploads.prod01.london.platform-os.com/instances/190/assets/images/build/2022/card-curve--yellow-02.png"> 
                       <div class="card-content-inner">
                            <div class="author">
                                <span>Nov 02, 2020</span>
                                <span class="seperator">/</span>
                                <span>Jacob Turrell</span>
                            </div>
                            <h4>HOW CAN I GENERATE MORE LEADS THROUGH EMAIL MARKETING?</h4>
                            
                            <a href="/" class="button is-dark-blue">
                                <div class="icon-text">
                                    <span>Read blog</span>
                                    <span class="icon">
                                    <span class="iconify" data-icon="fa-solid:chevron-circle-right"></span>
                                    </span>
                                </div>
                            </a>
                       </div>
                    </div>
                  </div>
            </div>
            <div class="column is-4-desktop is-6-tablet is-12-mobile">
                <div class="card blog">
                    <a href="/" class="card-image">
                      <figure class="image is-4by3">
                        <img 
                          src="https://websitesuccess.mo.cloudinary.net/ws/images/blog/Is-email-marketing-effective.jpeg?tx=w_800,h_600,c_fill,g_auto" 
                          srcset="https://websitesuccess.mo.cloudinary.net/ws/images/blog/Is-email-marketing-effective.jpeg?tx=w_400,h_300,c_fill,g_auto 400w,
                                  https://websitesuccess.mo.cloudinary.net/ws/images/blog/Is-email-marketing-effective.jpeg?tx=w_800,h_600,c_fill,g_auto 800w"
                          sizes="(max-width: 600px) 400px,
                                 800px"
                        >
                      </figure>
                    </a> 
                    <div class="card-content">
                        <img class="card-divider" src="https://uploads.prod01.london.platform-os.com/instances/190/assets/images/build/2022/card-curve--yellow-02.png"> 
                       <div class="card-content-inner">
                            <div class="author">
                                <span>Nov 02, 2020</span>
                                <span class="seperator">/</span>
                                <span>Jacob Turrell</span>
                            </div>
                            <h4>HOW CAN I GENERATE MORE LEADS THROUGH EMAIL MARKETING?</h4>
                            
                            <a href="/" class="button is-dark-blue">
                                <div class="icon-text">
                                    <span>Read blog</span>
                                    <span class="icon">
                                    <span class="iconify" data-icon="fa-solid:chevron-circle-right"></span>
                                    </span>
                                </div>
                            </a>
                       </div>
                    </div>
                  </div>
            </div>
            <div class="column is-4-desktop is-6-tablet is-12-mobile">
                <div class="card blog">
                    <a href="/" class="card-image">
                      <figure class="image is-4by3">
                        <img 
                          src="https://websitesuccess.mo.cloudinary.net/ws/images/blog/Is-email-marketing-effective.jpeg?tx=w_800,h_600,c_fill,g_auto" 
                          srcset="https://websitesuccess.mo.cloudinary.net/ws/images/blog/Is-email-marketing-effective.jpeg?tx=w_400,h_300,c_fill,g_auto 400w,
                                  https://websitesuccess.mo.cloudinary.net/ws/images/blog/Is-email-marketing-effective.jpeg?tx=w_800,h_600,c_fill,g_auto 800w"
                          sizes="(max-width: 600px) 400px,
                                 800px"
                        >
                      </figure>
                    </a> 
                    <div class="card-content">
                        <img class="card-divider" src="https://uploads.prod01.london.platform-os.com/instances/190/assets/images/build/2022/card-curve--yellow-02.png"> 
                       <div class="card-content-inner">
                            <div class="author">
                                <span>Nov 02, 2020</span>
                                <span class="seperator">/</span>
                                <span>Jacob Turrell</span>
                            </div>
                            <h4>HOW CAN I GENERATE MORE LEADS THROUGH EMAIL MARKETING?</h4>
                            
                            <a href="/" class="button is-dark-blue">
                                <div class="icon-text">
                                    <span>Read blog</span>
                                    <span class="icon">
                                    <span class="iconify" data-icon="fa-solid:chevron-circle-right"></span>
                                    </span>
                                </div>
                            </a>
                       </div>
                    </div>
                  </div>
            </div>
            <div class="column is-4-desktop is-6-tablet is-12-mobile">
                <div class="card blog">
                    <a href="/" class="card-image">
                      <figure class="image is-4by3">
                        <img 
                          src="https://websitesuccess.mo.cloudinary.net/ws/images/blog/Is-email-marketing-effective.jpeg?tx=w_800,h_600,c_fill,g_auto" 
                          srcset="https://websitesuccess.mo.cloudinary.net/ws/images/blog/Is-email-marketing-effective.jpeg?tx=w_400,h_300,c_fill,g_auto 400w,
                                  https://websitesuccess.mo.cloudinary.net/ws/images/blog/Is-email-marketing-effective.jpeg?tx=w_800,h_600,c_fill,g_auto 800w"
                          sizes="(max-width: 600px) 400px,
                                 800px"
                        >
                      </figure>
                    </a> 
                    <div class="card-content">
                        <img class="card-divider" src="https://uploads.prod01.london.platform-os.com/instances/190/assets/images/build/2022/card-curve--yellow-02.png"> 
                       <div class="card-content-inner">
                            <div class="author">
                                <span>Nov 02, 2020</span>
                                <span class="seperator">/</span>
                                <span>Jacob Turrell</span>
                            </div>
                            <h4>HOW CAN I GENERATE MORE LEADS THROUGH EMAIL MARKETING?</h4>
                            
                            <a href="/" class="button is-dark-blue">
                                <div class="icon-text">
                                    <span>Read blog</span>
                                    <span class="icon">
                                    <span class="iconify" data-icon="fa-solid:chevron-circle-right"></span>
                                    </span>
                                </div>
                            </a>
                       </div>
                    </div>
                  </div>
            </div>
            <div class="column is-4-desktop is-6-tablet is-12-mobile">
                <div class="card blog">
                    <a href="/" class="card-image">
                      <figure class="image is-4by3">
                        <img 
                          src="https://websitesuccess.mo.cloudinary.net/ws/images/blog/Is-email-marketing-effective.jpeg?tx=w_800,h_600,c_fill,g_auto" 
                          srcset="https://websitesuccess.mo.cloudinary.net/ws/images/blog/Is-email-marketing-effective.jpeg?tx=w_400,h_300,c_fill,g_auto 400w,
                                  https://websitesuccess.mo.cloudinary.net/ws/images/blog/Is-email-marketing-effective.jpeg?tx=w_800,h_600,c_fill,g_auto 800w"
                          sizes="(max-width: 600px) 400px,
                                 800px"
                        >
                      </figure>
                    </a> 
                    <div class="card-content">
                        <img class="card-divider" src="https://uploads.prod01.london.platform-os.com/instances/190/assets/images/build/2022/card-curve--yellow-02.png"> 
                       <div class="card-content-inner">
                            <div class="author">
                                <span>Nov 02, 2020</span>
                                <span class="seperator">/</span>
                                <span>Jacob Turrell</span>
                            </div>
                            <h4>HOW CAN I GENERATE MORE LEADS THROUGH EMAIL MARKETING?</h4>
                            
                            <a href="/" class="button is-dark-blue">
                                <div class="icon-text">
                                    <span>Read blog</span>
                                    <span class="icon">
                                    <span class="iconify" data-icon="fa-solid:chevron-circle-right"></span>
                                    </span>
                                </div>
                            </a>
                       </div>
                    </div>
                  </div>
            </div>
        </div>
    </div>
   </section>
   <!-- Component Ends Here-->
    
</body>
</html>