<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Faqs</title>
    <link rel="stylesheet" href="/marketplace_builder/assets/css/main-2022.min.css">
    <link rel="stylesheet" media="print" href="https://uploads.prod01.london.platform-os.com/instances/190/assets/fonts/fonts.css" onload="this.media='all'">
    <script src="https://uploads.prod01.london.platform-os.com/instances/190/assets/js/vendor/iconify.min.js?updated=1662609857000"></script>
    <script src="https://uploads.prod01.london.platform-os.com/instances/190/assets/js/vendor/bulma-accordions.min.js?updated=1663657749436"></script>
</head>
<body>

   <!-- Component Starts Here-->
    <section class="faqs">
        <div class="container is-max-widescreen">
            <h3 class="heading -- white -- has-line">frequently asked questions</h3>
            <div class="accordions-container">
                <div class="accordions">
                    <article class="accordion">
                        <div class="accordion-header toggle">
                          <button class="toggle" aria-label="toggle"></button>
                          <p>Lorem ipsum dolor sit amet consectetur adipisicing?</p>
                        </div>
                        <div class="accordion-body">
                          <div class="accordion-content">
                            <div class="content">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni laboriosam harum id atque praesentium delectus minima optio eius autem perferendis? Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni laboriosam harum id atque praesentium delectus minima optio eius autem perferendis? Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni laboriosam harum id atque praesentium delectus minima optio eius autem perferendis?
                            </div>
                          </div>
                        </div>
                    </article>
                    <article class="accordion">
                        <div class="accordion-header toggle">
                          <button class="toggle" aria-label="toggle"></button>
                          <p>Lorem ipsum dolor sit amet consectetur adipisicing?</p>
                        </div>
                        <div class="accordion-body">
                          <div class="accordion-content">
                            <div class="content">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni laboriosam harum id atque praesentium delectus minima optio eius autem perferendis? Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni laboriosam harum id atque praesentium delectus minima optio eius autem perferendis? Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni laboriosam harum id atque praesentium delectus minima optio eius autem perferendis?
                            </div>
                          </div>
                        </div>
                    </article>
                    <article class="accordion">
                        <div class="accordion-header toggle">
                          <button class="toggle" aria-label="toggle"></button>
                          <p>Lorem ipsum dolor sit amet consectetur adipisicing?</p>
                        </div>
                        <div class="accordion-body">
                          <div class="accordion-content">
                            <div class="content">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni laboriosam harum id atque praesentium delectus minima optio eius autem perferendis? Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni laboriosam harum id atque praesentium delectus minima optio eius autem perferendis? Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni laboriosam harum id atque praesentium delectus minima optio eius autem perferendis?
                            </div>
                          </div>
                        </div>
                    </article>
                    <article class="accordion">
                        <div class="accordion-header toggle">
                          <button class="toggle" aria-label="toggle"></button>
                          <p>Lorem ipsum dolor sit amet consectetur adipisicing?</p>
                        </div>
                        <div class="accordion-body">
                          <div class="accordion-content">
                            <div class="content">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni laboriosam harum id atque praesentium delectus minima optio eius autem perferendis? Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni laboriosam harum id atque praesentium delectus minima optio eius autem perferendis? Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni laboriosam harum id atque praesentium delectus minima optio eius autem perferendis?
                            </div>
                          </div>
                        </div>
                    </article>
                    <article class="accordion">
                        <div class="accordion-header toggle">
                          <button class="toggle" aria-label="toggle"></button>
                          <p>Lorem ipsum dolor sit amet consectetur adipisicing?</p>
                        </div>
                        <div class="accordion-body">
                          <div class="accordion-content">
                            <div class="content">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni laboriosam harum id atque praesentium delectus minima optio eius autem perferendis? Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni laboriosam harum id atque praesentium delectus minima optio eius autem perferendis? Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni laboriosam harum id atque praesentium delectus minima optio eius autem perferendis?
                            </div>
                          </div>
                        </div>
                    </article>
                    <article class="accordion">
                        <div class="accordion-header toggle">
                          <button class="toggle" aria-label="toggle"></button>
                          <p>Lorem ipsum dolor sit amet consectetur adipisicing?</p>
                        </div>
                        <div class="accordion-body">
                          <div class="accordion-content">
                            <div class="content">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni laboriosam harum id atque praesentium delectus minima optio eius autem perferendis? Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni laboriosam harum id atque praesentium delectus minima optio eius autem perferendis? Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni laboriosam harum id atque praesentium delectus minima optio eius autem perferendis?
                            </div>
                          </div>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </section>
   <!-- Component Ends Here-->

   <script>
    window.addEventListener("load", function() {
      var accordions = bulmaAccordion.attach(); 
    });
  </script>
  
  <script>
    window.addEventListener("load", function() {
      var myTabs = document.querySelectorAll(".faqs ul.menu-list > li");
      var myContentPanes = document.querySelectorAll(".accordions");
  
      function myTabClicks(tabClickEvent) {
  
        for (var i = 0; i < myTabs.length; i++) {
          myTabs[i].classList.remove("active");
        }
  
        var clickedTab = tabClickEvent.currentTarget;
        clickedTab.classList.add("active");
        tabClickEvent.preventDefault();
  
        for (i = 0; i < myContentPanes.length; i++) {
          myContentPanes[i].classList.remove("active");
        }
  
        var anchorReference = tabClickEvent.target;
        var activePaneId = anchorReference.getAttribute("href");
        var activePane = document.querySelector(activePaneId);
        activePane.classList.add("active");
      }
  
      for (i = 0; i < myTabs.length; i++) {
        myTabs[i].addEventListener("click", myTabClicks)
      }
  
    });
  </script>
  
  <script>
    window.addEventListener("load", function() {
       const accordions = document.querySelectorAll('.accordions');
       for(const item of accordions){
          item.firstElementChild.classList.add('is-active');
       }
    });
  </script>
    
</body>
</html>