<!DOCTYPE html>
<html lang="en" class="has-background-dark">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Get Started</title>
    <link rel="stylesheet" href="/marketplace_builder/assets/css/main-2022.min.css">
    <link rel="stylesheet" media="print" href="https://uploads.prod01.london.platform-os.com/instances/190/assets/fonts/fonts.css" onload="this.media='all'">
    <script src="https://uploads.prod01.london.platform-os.com/instances/190/assets/js/vendor/iconify.min.js?updated=1662609857000"></script>
</head>
<body class="has-background-dark pt-6">

   <!-- Component Starts Here-->
    <section class="get-started">
        <div class="container">
            <div class="columns is-vcentered">
                <div class="column is-4">
                    <div class="dev">
                        <img src="https://websitesuccess.mo.cloudinary.net/ws/images/team-pictures/jay-faustino.png?updated=1639662782367" alt="Jay">
                        <p>Jay Faustino - Creative Web Developer</p>
                    </div>
                </div>
                <div class="column is-8">
                    <div class="info-box">
                        <h3>START YOUR JOURNEY TO WEBSITE SUCCESS </h3>
                        <div class="line"></div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        <a href="/" class="button is-dark">
                            <div class="icon-text">
                                <span>GET STARTED <span class="is-hidden-mobile">ON THE BUILD PROCESS</span> </span>
                                <span class="icon">
                                <span class="iconify" data-icon="fa-solid:chevron-circle-right"></span>
                                </span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
   <!-- Component Ends Here-->
    
</body>
</html>