<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
    <link rel="stylesheet" href="../../assets/css/main-2022.min.css">
    <link rel="stylesheet" media="print" href="https://uploads.prod01.london.platform-os.com/instances/190/assets/fonts/fonts.css" onload="this.media='all'">
    <script src="https://uploads.prod01.london.platform-os.com/instances/190/assets/js/vendor/iconify.min.js?updated=1662609857000"></script>
</head>
<body>

   <!-- Component Starts Here-->
   <section class="hero-main">
    <div class="hero-body">
    <div class="hero-content">
      <div class="brand-message">
        <img src="https://websitesuccess.mo.cloudinary.net/ws/images/build/2022/hero-brand-message.png">
      </div>
      <div class="arrow-button">
        <a href="">
          <span class="iconify" data-icon="fa-solid:chevron-circle-down"></span>
        </a>
      </div>
    </div>
    </div>
   </section>
   <!-- Component Ends Here-->
    
</body>
</html>