<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Our latest creation</title>
    <link rel="stylesheet" href="/marketplace_builder/assets/css/main-2022.min.css">
    <link rel="stylesheet" media="print" href="https://uploads.prod01.london.platform-os.com/instances/190/assets/fonts/fonts.css" onload="this.media='all'">
    <script src="https://uploads.prod01.london.platform-os.com/instances/190/assets/js/vendor/iconify.min.js?updated=1662609857000"></script>
</head>
<body>

   <!-- Component Starts Here-->

   <section class="our-latest-creation">
        <div class="container">
            <h3 class="heading blue">our latest creations</h3>
            <div class="columns is-mobile is-multiline portfolio">
              <div class="column is-4-desktop is-6-tablet is-12-mobile">
                <div class="card portfolio" style="height: 100%;">
                    <a href="/" class="card-image">
                      <figure class="image is-4by3">
                        <img 
                          src="https://websitesuccess.mo.cloudinary.net/ws/images/blog/Is-email-marketing-effective.jpeg?tx=w_800,h_600,c_fill,g_auto" 
                          srcset="https://websitesuccess.mo.cloudinary.net/ws/images/blog/Is-email-marketing-effective.jpeg?tx=w_400,h_300,c_fill,g_auto 400w,
                                  https://websitesuccess.mo.cloudinary.net/ws/images/blog/Is-email-marketing-effective.jpeg?tx=w_800,h_600,c_fill,g_auto 800w"
                          sizes="(max-width: 600px) 400px,
                                 800px"
                        >
                      </figure>
                    </a>
                    <div class="card-content">
                      <img class="card-divider" src="https://uploads.prod01.london.platform-os.com/instances/190/assets/images/curves/card-curve--blue.png?updated=1614096923">  
                       <div class="card-content-inner">
                            <div class="tag">
                                <span>Design</span>
                                <span class="seperator">/</span>
                                <span>Build</span>
                            </div>
                            <h4>manta recruitment</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad...
                              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad...
                            </p>
                            <a href="/" class="button is-blue">
                                <div class="icon-text">
                                    <span>View Project</span>
                                    <span class="icon">
                                    <span class="iconify" data-icon="fa-solid:chevron-circle-right"></span>
                                    </span>
                                </div>
                            </a>
                       </div>
                    </div>
                </div>
              </div>
              <div class="column is-4-desktop is-6-tablet is-12-mobile">
                <div class="card portfolio" style="height: 100%;">
                    <a href="/" class="card-image">
                      <figure class="image is-4by3">
                        <img 
                          src="https://websitesuccess.mo.cloudinary.net/ws/images/blog/Is-email-marketing-effective.jpeg?tx=w_800,h_600,c_fill,g_auto" 
                          srcset="https://websitesuccess.mo.cloudinary.net/ws/images/blog/Is-email-marketing-effective.jpeg?tx=w_400,h_300,c_fill,g_auto 400w,
                                  https://websitesuccess.mo.cloudinary.net/ws/images/blog/Is-email-marketing-effective.jpeg?tx=w_800,h_600,c_fill,g_auto 800w"
                          sizes="(max-width: 600px) 400px,
                                 800px"
                        >
                      </figure>
                    </a>
                    <div class="card-content">
                      <img class="card-divider" src="https://uploads.prod01.london.platform-os.com/instances/190/assets/images/curves/card-curve--blue.png?updated=1614096923">  
                       <div class="card-content-inner">
                            <div class="tag">
                                <span>Design</span>
                                <span class="seperator">/</span>
                                <span>Build</span>
                            </div>
                            <h4>manta recruitment</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad...
                              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad...
                            </p>
                            <a href="/" class="button is-blue">
                                <div class="icon-text">
                                    <span>View Project</span>
                                    <span class="icon">
                                    <span class="iconify" data-icon="fa-solid:chevron-circle-right"></span>
                                    </span>
                                </div>
                            </a>
                       </div>
                    </div>
                </div>
              </div>
              <div class="column is-4-desktop is-6-tablet is-12-mobile">
                <div class="card portfolio" style="height: 100%;">
                    <a href="/" class="card-image">
                      <figure class="image is-4by3">
                        <img 
                          src="https://websitesuccess.mo.cloudinary.net/ws/images/blog/Is-email-marketing-effective.jpeg?tx=w_800,h_600,c_fill,g_auto" 
                          srcset="https://websitesuccess.mo.cloudinary.net/ws/images/blog/Is-email-marketing-effective.jpeg?tx=w_400,h_300,c_fill,g_auto 400w,
                                  https://websitesuccess.mo.cloudinary.net/ws/images/blog/Is-email-marketing-effective.jpeg?tx=w_800,h_600,c_fill,g_auto 800w"
                          sizes="(max-width: 600px) 400px,
                                 800px"
                        >
                      </figure>
                    </a>
                    <div class="card-content">
                      <img class="card-divider" src="https://uploads.prod01.london.platform-os.com/instances/190/assets/images/curves/card-curve--blue.png?updated=1614096923">  
                       <div class="card-content-inner">
                            <div class="tag">
                                <span>Design</span>
                                <span class="seperator">/</span>
                                <span>Build</span>
                            </div>
                            <h4>manta recruitment</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad...
                              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad...
                            </p>
                            <a href="/" class="button is-blue">
                                <div class="icon-text">
                                    <span>View Project</span>
                                    <span class="icon">
                                    <span class="iconify" data-icon="fa-solid:chevron-circle-right"></span>
                                    </span>
                                </div>
                            </a>
                       </div>
                    </div>
                </div>
              </div>
              <div class="column is-4-desktop is-6-tablet is-12-mobile">
                <div class="card portfolio" style="height: 100%;">
                    <a href="/" class="card-image">
                      <figure class="image is-4by3">
                        <img 
                          src="https://websitesuccess.mo.cloudinary.net/ws/images/blog/Is-email-marketing-effective.jpeg?tx=w_800,h_600,c_fill,g_auto" 
                          srcset="https://websitesuccess.mo.cloudinary.net/ws/images/blog/Is-email-marketing-effective.jpeg?tx=w_400,h_300,c_fill,g_auto 400w,
                                  https://websitesuccess.mo.cloudinary.net/ws/images/blog/Is-email-marketing-effective.jpeg?tx=w_800,h_600,c_fill,g_auto 800w"
                          sizes="(max-width: 600px) 400px,
                                 800px"
                        >
                      </figure>
                    </a>
                    <div class="card-content">
                      <img class="card-divider" src="https://uploads.prod01.london.platform-os.com/instances/190/assets/images/curves/card-curve--blue.png?updated=1614096923">  
                       <div class="card-content-inner">
                            <div class="tag">
                                <span>Design</span>
                                <span class="seperator">/</span>
                                <span>Build</span>
                            </div>
                            <h4>manta recruitment</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad...
                              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad...
                            </p>
                            <a href="/" class="button is-blue">
                                <div class="icon-text">
                                    <span>View Project</span>
                                    <span class="icon">
                                    <span class="iconify" data-icon="fa-solid:chevron-circle-right"></span>
                                    </span>
                                </div>
                            </a>
                       </div>
                    </div>
                </div>
              </div>
              <div class="column is-4-desktop is-6-tablet is-12-mobile">
                <div class="card portfolio" style="height: 100%;">
                    <a href="/" class="card-image">
                      <figure class="image is-4by3">
                        <img 
                          src="https://websitesuccess.mo.cloudinary.net/ws/images/blog/Is-email-marketing-effective.jpeg?tx=w_800,h_600,c_fill,g_auto" 
                          srcset="https://websitesuccess.mo.cloudinary.net/ws/images/blog/Is-email-marketing-effective.jpeg?tx=w_400,h_300,c_fill,g_auto 400w,
                                  https://websitesuccess.mo.cloudinary.net/ws/images/blog/Is-email-marketing-effective.jpeg?tx=w_800,h_600,c_fill,g_auto 800w"
                          sizes="(max-width: 600px) 400px,
                                 800px"
                        >
                      </figure>
                    </a>
                    <div class="card-content">
                      <img class="card-divider" src="https://uploads.prod01.london.platform-os.com/instances/190/assets/images/curves/card-curve--blue.png?updated=1614096923">  
                       <div class="card-content-inner">
                            <div class="tag">
                                <span>Design</span>
                                <span class="seperator">/</span>
                                <span>Build</span>
                            </div>
                            <h4>manta recruitment</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad...
                              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad...
                            </p>
                            <a href="/" class="button is-blue">
                                <div class="icon-text">
                                    <span>View Project</span>
                                    <span class="icon">
                                    <span class="iconify" data-icon="fa-solid:chevron-circle-right"></span>
                                    </span>
                                </div>
                            </a>
                       </div>
                    </div>
                </div>
              </div>
              <div class="column is-4-desktop is-6-tablet is-12-mobile">
                <div class="card portfolio" style="height: 100%;">
                    <a href="/" class="card-image">
                      <figure class="image is-4by3">
                        <img 
                          src="https://websitesuccess.mo.cloudinary.net/ws/images/blog/Is-email-marketing-effective.jpeg?tx=w_800,h_600,c_fill,g_auto" 
                          srcset="https://websitesuccess.mo.cloudinary.net/ws/images/blog/Is-email-marketing-effective.jpeg?tx=w_400,h_300,c_fill,g_auto 400w,
                                  https://websitesuccess.mo.cloudinary.net/ws/images/blog/Is-email-marketing-effective.jpeg?tx=w_800,h_600,c_fill,g_auto 800w"
                          sizes="(max-width: 600px) 400px,
                                 800px"
                        >
                      </figure>
                    </a>
                    <div class="card-content">
                      <img class="card-divider" src="https://uploads.prod01.london.platform-os.com/instances/190/assets/images/curves/card-curve--blue.png?updated=1614096923">  
                       <div class="card-content-inner">
                            <div class="tag">
                                <span>Design</span>
                                <span class="seperator">/</span>
                                <span>Build</span>
                            </div>
                            <h4>manta recruitment</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad...
                              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad...
                            </p>
                            <a href="/" class="button is-blue">
                                <div class="icon-text">
                                    <span>View Project</span>
                                    <span class="icon">
                                    <span class="iconify" data-icon="fa-solid:chevron-circle-right"></span>
                                    </span>
                                </div>
                            </a>
                       </div>
                    </div>
                </div>
              </div>
            </div>
            <a href="/" class="button is-dark mx-auto">
                <div class="icon-text">
                  <span>VIEW MORE CREATIONS</span>
                  <span class="icon">
                    <span class="iconify" data-icon="fa-solid:chevron-circle-right"></span>
                  </span>
                </div>
            </a>
        </div>
   </section>
   
   <!-- Component Ends Here-->
    
</body>
</html>