<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The website success way</title>
    <link rel="stylesheet" href="/marketplace_builder/assets/css/main-2022.min.css">
    <link rel="stylesheet" media="print" href="https://uploads.prod01.london.platform-os.com/instances/190/assets/fonts/fonts.css" onload="this.media='all'">
    <script src="https://uploads.prod01.london.platform-os.com/instances/190/assets/js/vendor/iconify.min.js?updated=1662609857000"></script>
</head>
<body>

   <!-- Component Starts Here-->
   
   <div class="the-website-success-way">
    <div class="container is-max-widescreen">
       <h3 class="heading -- dark">THE WEBSITE SUCCESS WAY</h3>
       <div class="columns is-multiline">
          <div class="column is-6 is-4-widescreen">
             <div class="item">
                <div class="columns is-mobile">
                   <div class="column is-narrow">
                      <img  src="https://websitesuccess.mo.cloudinary.net/ws/images/build/2022/icons/icon01.png" >
                   </div>
                   <div class="column">
                      <h4>Clear layout and Navigation</h4>
                      <p>A site that has a clear structure which elements where visitors expect them and a navigation that allows users to move through the site with ease.</p>
                   </div>
                </div>
             </div>
          </div>
          <div class="column is-6 is-4-widescreen">
             <div class="item">
                <div class="columns is-mobile">
                   <div class="column is-narrow">
                      <img  src="https://websitesuccess.mo.cloudinary.net/ws/images/build/2022/icons/icon02.png" >
                   </div>
                   <div class="column">
                      <h4>Designed For Your Visitors</h4>
                      <p>Your site will be designed to deliver the information your visitors need to help them reach your conversion goals</p>
                   </div>
                </div>
             </div>
          </div>
          <div class="column is-6 is-4-widescreen">
             <div class="item">
                <div class="columns is-mobile">
                   <div class="column is-narrow">
                      <img  src="https://websitesuccess.mo.cloudinary.net/ws/images/build/2022/icons/icon03.png" >
                   </div>
                   <div class="column">
                      <h4>Designed to be Responsive</h4>
                      <p>Your site will be designed to work across platforms from phones to tablets to desktops...and allowing it to be coded for any platform, eFusion, Wordpress, Shopify, Magento, etc.</p>
                   </div>
                </div>
             </div>
          </div>
          <div class="column is-6 is-4-widescreen">
             <div class="item">
                <div class="columns is-mobile">
                   <div class="column is-narrow">
                      <img  src="https://websitesuccess.mo.cloudinary.net/ws/images/build/2022/icons/icon04.png" >
                   </div>
                   <div class="column">
                      <h4>Designed to Convert</h4>
                      <p>A site designed to convert ... whether you want visitors to pick up the phone, book an event or a meeting, fill a form or buy your products.</p>
                   </div>
                </div>
             </div>
          </div>
          <div class="column is-6 is-4-widescreen">
             <div class="item">
                <div class="columns is-mobile">
                   <div class="column is-narrow">
                      <img  src="https://websitesuccess.mo.cloudinary.net/ws/images/build/2022/icons/icon05.png" >
                   </div>
                   <div class="column">
                      <h4>Full Property Rights</h4>
                      <p>You'll have full 'Intellectual Property Rights' on the designs that we create for you...for you to use in any format you choose in the future.</p>
                   </div>
                </div>
             </div>
          </div>
          <div class="column is-6 is-4-widescreen">
             <div class="item">
                <div class="columns is-mobile">
                   <div class="column is-narrow">
                      <img  src="https://websitesuccess.mo.cloudinary.net/ws/images/build/2022/icons/icon06.png" >
                   </div>
                   <div class="column">
                      <h4>Packaged Design Files</h4>
                      <p>Once approved your designs are packaged ready for the developer of your choice to start coding. All design assets including fonts and images will be included.</p>
                   </div>
                </div>
             </div>
          </div>
          <div class="column is-6 is-4-widescreen">
             <div class="item">
                <div class="columns is-mobile">
                   <div class="column is-narrow">
                      <img  src="https://websitesuccess.mo.cloudinary.net/ws/images/build/2022/icons/icon07.png" >
                   </div>
                   <div class="column">
                      <h4>Unique Bespoke Design</h4>
                      <p>Your bespoke design will be unique to you and your brand's personality. It will be aligned to your visitors and the journey you'd like them to take with you. We never use cumbersome templates.</p>
                   </div>
                </div>
             </div>
          </div>
          <div class="column is-6 is-4-widescreen">
             <div class="item">
                <div class="columns is-mobile">
                   <div class="column is-narrow">
                      <img  src="https://websitesuccess.mo.cloudinary.net/ws/images/build/2022/icons/icon08.png" >
                   </div>
                   <div class="column">
                      <h4>Unlimited Design Revisions</h4>
                      <p>You'll get 'unlimited design revisions' until the site is approved for coding (As long as revisions are in-line with the original brief)</p>
                   </div>
                </div>
             </div>
          </div>
          <div class="column is-6 is-4-widescreen">
             <div class="item">
                <div class="columns is-mobile">
                   <div class="column is-narrow">
                      <img  src="https://websitesuccess.mo.cloudinary.net/ws/images/build/2022/icons/icon09.png" >
                   </div>
                   <div class="column">
                      <h4>World-class design team</h4>
                      <p>A site designed by our world-class designers, trusted by hundreds of businesses and using the very best design software and the latest conversion techniques.</p>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
   </div>

   <!-- Component Ends Here-->
    
</body>
</html>