<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>We know our stuff text</title>
    <link rel="stylesheet" href="/marketplace_builder/assets/css/main-2022.min.css">
    <link rel="stylesheet" media="print" href="https://uploads.prod01.london.platform-os.com/instances/190/assets/fonts/fonts.css" onload="this.media='all'">
    <script src="https://uploads.prod01.london.platform-os.com/instances/190/assets/js/vendor/iconify.min.js?updated=1662609857000"></script>
</head>
<body class="has-background-primary">

  <div class="container">

   <!-- Component Starts Here-->
   <div class="we-know-our-stuff-text">
    <h1>We know our stuff</h1>
    <div class="group-heading">
      <h2>We’re not just about the words, we’re about the actions – and most importantly, we’re about the results!</h2>
      <h2>We use in-house knowledge – we don’t outsource anything</h2>
      <h2>Our extensive experience is bred from when:</h2>
    </div>
    <ul>
      <li>
        <span class="icon-text">
          <span class="icon">
            <span class="iconify" data-icon="bi:check-circle-fill"></span>
          </span>
          <span>Websites first became ‘a thing’</span>
        </span>
      </li>
      <li>
        <span class="icon-text">
          <span class="icon">
            <span class="iconify" data-icon="bi:check-circle-fill"></span>
          </span>
          <span>‘Marketing strategy’ stopped being a dirty word</span>
        </span>
      </li>
      <li>
        <span class="icon-text">
          <span class="icon">
            <span class="iconify" data-icon="bi:check-circle-fill"></span>
          </span>
          <span>SEO invented itself!</span>
        </span>
      </li>
      <li>
        <span class="icon-text">
          <span class="icon">
            <span class="iconify" data-icon="bi:check-circle-fill"></span>
          </span>
          <span>Digital marketing meant doing stuff online – before it started to drive strategies</span>
        </span>
      </li>
      <li>
        <span class="icon-text">
          <span class="icon">
            <span class="iconify" data-icon="bi:check-circle-fill"></span>
          </span>
          <span>Social media was adopted by businesses</span>
        </span>
      </li>
      <li>
        <span class="icon-text">
          <span class="icon">
            <span class="iconify" data-icon="bi:check-circle-fill"></span>
          </span>
          <span>Online advertising grew up and needed sensible, experienced people to manage it!</span>
        </span>
      </li>
    </ul>
    <a href="/" class="button is-yellow mx-auto">
      <div class="icon-text">
        <span>More about how we work</span>
        <span class="icon">
          <span class="iconify" data-icon="fa-solid:chevron-circle-right"></span>
        </span>
      </div>
    </a>
   </div>
   <!-- Component Ends Here-->

  </div>
    
</body>
</html>