<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>What Was Required</title>
    <link rel="stylesheet" href="/marketplace_builder/assets/css/main-2022.min.css">
    <link rel="stylesheet" media="print" href="https://uploads.prod01.london.platform-os.com/instances/190/assets/fonts/fonts.css" onload="this.media='all'">
    <script src="https://uploads.prod01.london.platform-os.com/instances/190/assets/js/vendor/iconify.min.js?updated=1662609857000"></script>
</head>
<body>

   <!-- Component Starts Here-->
   <div class="what-was-required">
    <div class="container">
        <div class="columns is-vcentered">
            <div class="column is-6">
                <div class="desktop-image">
                    <img src="https://uploads.prod01.london.platform-os.com/instances/190/assets/images/portfolio/marlin/marlin-desktop.jpg?updated=1572266642" alt="Marlin website on desktop">
                </div>
            </div>
            <div class="column is-6">
                <div class="description">
                    <h3>What was required</h3>
                    <p>Marlin wanted a revamp on the existing website they had with us. They wanted us to design and develop an easier to navigate, stylish website to showcase the variety of cleaning services they provide to the marine industry.</p>
                </div>
            </div>
        </div>
    </div>
   </div>
   <!-- Component Ends Here-->
    
</body>
</html>