<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>What We Did</title>
    <link rel="stylesheet" href="/marketplace_builder/assets/css/main-2022.min.css">
    <link rel="stylesheet" media="print" href="https://uploads.prod01.london.platform-os.com/instances/190/assets/fonts/fonts.css" onload="this.media='all'">
    <script src="https://uploads.prod01.london.platform-os.com/instances/190/assets/js/vendor/iconify.min.js?updated=1662609857000"></script>
</head>
<body>

   <!-- Component Starts Here-->
   <div class="what-we-did">
    <div class="container">
        <div class="columns is-vcentered">
            <div class="column is-6">
                <div class="description">
                    <h3>What we did</h3>
                    <p>We worked closely with the team and designed not only a great looking website but also a website that met all their requirements as a business. It looks great and clearly shows all the services they provide so that potential customers can find out more and then contact them if they are interested.</p>
                </div>
                <a href="/" class="button is-yellow">
                    <div class="icon-text">
                      <span>View Website</span>
                      <span class="icon">
                        <span class="iconify" data-icon="fa-solid:chevron-circle-right"></span>
                      </span>
                    </div>
                </a>
            </div>
            <div class="column is-6">
              <div class="mobile-image-container">
                    <div class="mobile-image -- img01">
                        <img src="https://uploads.prod01.london.platform-os.com/instances/190/assets/images/portfolio/marlin/marlin-mobile-01.jpg?updated=1572266643" alt="Marlin website on mobile">
                    </div>
                    <div class="mobile-image -- img02">
                        <img src="https://uploads.prod01.london.platform-os.com/instances/190/assets/images/portfolio/marlin/marlin-mobile-01.jpg?updated=1572266643" alt="Marlin website on mobile">
                    </div>
                    <div class="mobile-image -- img03">
                        <img src="https://uploads.prod01.london.platform-os.com/instances/190/assets/images/portfolio/marlin/marlin-mobile-01.jpg?updated=1572266643" alt="Marlin website on mobile">
                    </div>
              </div>
            </div>
        </div>
    </div>
   </div>
   <!-- Component Ends Here-->
    
</body>
</html>